<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/5.5/phpunit.xsd"
         bootstrap="./Bootstrap.php"
         colors="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutResourceUsageDuringSmallTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutTodoAnnotatedTests="true"
         verbose="true">

    <testsuites>
        <testsuite name="SwarkFunctionalTests">
            <directory>./Functional</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>disable</group>
        </exclude>
    </groups>

    <filter>
        <whitelist>
            <directory suffix=".php">../custom/plugins/</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="coverage.xml"/>
    </logging>
</phpunit>